.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  color: #545c6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 10;
}

.header h1 {
  font-size: 26px;
  font-weight: 400;
  cursor: pointer;
}
