.form {
  text-align: right;
  padding-top: 10px;
}

.form button {
  height: 39px;
  text-transform: uppercase;
  font: inherit;
  cursor: pointer;
  background-color: #bbed21;
  border: 1px solid #bbed21;
  color: #535c69;
  padding: 0.25rem 2rem;
  border-radius: 4px;
  font-weight: 300;
}

.form button:hover,
.form button:active {
  background-color: #d2f95f;
  border-color: #d2f95f;
  color: #535c69;
}