.section-start {
  display: flex;
  width: 100%;
  padding-top: 62px;
  padding-bottom: 62px;
}

.marmat-start {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 58px;
  padding-right: 58px;
}

.marmat_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 18px;
}

.marmat_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 18px;
  color: red;
}
