.section-products {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
}

.section-products h1,
.section-products h2,
.section-products h3,
.section-products h4,
.section-products h5,
.section-products h6 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.section-products h2 {
  font-size: 60px;
  line-height: 60px;
}

.section-products h3 {
  font-size: 36px;
  line-height: 36px;
}

.section-products h5 {
  font-family: "OpenSans", sans-serif;
  font-weight: 800;
}

.products-items {
  display: grid;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.marmat_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 18px;
}

.marmat_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 18px;
  color: red;
}

.arrow {
  height: auto;
  width: auto;
  margin: 40px 0  0  59px;
}

.arrow:hover {
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover path {
  fill: #0855B0;
  transition: all 0.3s ease;
}

@keyframes marmat-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
