@import "./assets/css/opensans.css";
@import "./assets/css/inter.css";

* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, Inter;
}

body {
  margin: 0;
  background: #eef2f4;
}

main {
  padding-top: 5rem;
}