.input {
  display: inline-block;
  width: 44px;
  height: 39px;
  line-height: 39px;

  padding-left: 0px;
  padding-right: 0px;
  border: 0px solid transparent !important;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center !important;
  background: transparent !important;
  opacity: 1 !important;
  color: #0855B0;

  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}