.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 50, 111, 0.85);
}

.modal {
  position: fixed;
  width: 738px;
  max-width: calc(100% - 30px);
  background: #FFFFFF;
  border-radius: 20px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -2;
  transition: opacity 0.3 ease;
  opacity: 1;
  z-index: 101;
}

.modal_cart {

}

.modal__close {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 8px;
  transform: translate(100%, -100%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal__close img {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: auto;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__content {
  display: block;
  width: 100%;
  position: relative;
  padding: 60px;
  padding-bottom: 58px;
  padding-top: 54px;
}